{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
   Attach Land to {{ client.name }}
{% endblock %}



{% block content %}
<div class="row g-6">
  <!-- Vehicles overview -->
  <div class="col-xxl-6">
    <div class="card h-100">
      <div class="card-header d-flex align-items-center justify-content-between">
        <div class="card-title mb-0">
              <span class="text-danger">NOTE:
                  <span class="text-info">IF YOU ENTER A WRONG LAND PRICE OR WRONG PLOT NUMBER,
                  PLEASE GO TO THE LAND LIST TAB AND EDIT IT BEFORE RECORDING CLIENT PAYMENT.</span>
              </span>
          <h6 class="m-0 me-2">Attach Land to <span class="text-primary">{{ client.name }}</span></h6>
        </div>
      </div>
      <div class="card-body">
          {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
          {% endif %}
          <form method="POST" action="{% url 'realestates:attach_land_to_client' client.id %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ landform.plot_number.label_tag }}
                    {{ landform.plot_number }}
                    {% if landform.plot_number.errors %}
                        <div class="text-danger">
                            {{ landform.plot_number.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ landform.location.label_tag }}
                    {{ landform.location }}
                    {% if landform.location.errors %}
                        <div class="text-danger">
                            {{ landform.location.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ landform.price.label_tag }}
                    {{ landform.price }}
                    {% if landform.price.errors %}
                        <div class="text-danger">
                            {{ landform.price.errors }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
          </form>
      </div>
    </div>
  </div>
  <!--/ Vehicles overview -->

  <!-- Shipment statistics-->
  <div class="col-xxl-6 col-lg-7">
    <div class="card h-100">
      <div class="card-header d-flex align-items-center justify-content-between">
            <div class="card-title mb-0">
              <h6 class="m-0 me-2">Lands Attached to <span class="text-primary">{{ client.name }}</span></h6>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for client_land in client_lands %}
                    <li class="list-group-item">
                        {{ client_land.land.plot_number }} - {{ client_land.land.location }} - {{ client_land.land.price|add_commas }}
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'realestates:record_payment' client.id %}" class="btn btn-info mt-3">Record Client Payment</a>
        </div>
    </div>
  </div>
  <!--/ Shipment statistics -->
</div>
{% endblock %}

{% block add_js %}
<script>
    function formatAmount(input) {
        // Remove existing commas and non-numeric characters from the input
        let value = input.value.replace(/[^\d]/g, '');

        // Add commas to the value
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Update the input value
        input.value = value;
    }
</script>
{% endblock %}
