{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
 Payment
{% endblock %}

{% block add_css %}
<style>
.form-control {
    border: 1px solid #ced4da;
}

.form-control:focus {
    box-shadow: none;
    border-color: #80bdff;
}

.card-header {
    font-weight: bold;
    font-size: 1.2em;
}

.card-body p {
    margin-bottom: 0.5em;
}
</style>

{% endblock %}



{% block content %}
<div class="text-center rounded p-4">
    <div class="d-flex mb-4">
        Distributor:<span class="text-info p-2">{{ employee_.user.get_full_name }}</span>
        <span>
            <!-- Display messages -->
            {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </span>
    </div>
    <div class="row">
        {% for data in client_data %}
        <div class="col-md-3">
            <div class="card text-white bg-dark mb-4">
                <div class="card-header bg-danger text-center">
                    {{ data.client_land.client.name }} - {{ data.client_land.client.phoneNumber1 }}
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Land: {{ data.client_land.land.plot_number }}</p>
                    <p class="card-text">Location: {{ data.client_land.land.location }}</p>
                    <p class="card-text">Total Amount Paid by Client: {{ data.total_amount_paid_by_client|add_commas }}</p>
                    <p class="card-text">Commission Earned: {{ data.commission|add_commas }}</p>
                    <!-- Display amount paid and edit button -->
                    <p class="card-text">
                        Paid Distributor: <span id="amount-display-{{ data.client_land.id }}">{{ data.amount_paid|add_commas }}</span>
                        <button type="button" class="btn btn-link text-info" data-bs-toggle="modal" data-bs-target="#editModal-1">
                            <i class="fas fa-edit"></i> Edit Distributor payment</button>
                    </p>
                    <p class="card-text">Balance: {{ data.balance|add_commas }}</p>
                    <form method="post" action="{% url 'realestates:approve_employee_payment' employee_.id data.client_land.client.id data.client_land.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="amount_paid" class="form-label text-info">Amount to Pay</label>
                            <input type="text" oninput="formatAmount(this)" name="amount_paid" class="form-control text-light" required>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-info me-2">Pay</button>
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="window.history.go(-1)">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editModal-1" tabindex="-1" aria-labelledby="editModalLabel-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger"  id="editModalLabel-1">Edit Amount to Pay</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for record in data.payment_records %}
                        <form method="post" action=" {% url 'realestates:edit_employee_payment' employee_.id data.client_land.client.id data.client_land.id record.id %} ">
                            {% csrf_token %}
                            <div class="mb-3">
                            <label for="amount_paid" class="form-label text-info">Edit Amount Paid (Record ID: {{ record.id }})</label>
                            <input type="text" oninput="formatAmount(this)" name="amount_paid" class="form-control text-light" value="{{ record.amount_paid|add_commas }}" required>
                        </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-info me-2">Save</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}



{% block add_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const addLandForm = document.getElementById('formAuthentication');
    addLandForm.addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(addLandForm);
        fetch(addLandForm.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                $('#password_change_modal').modal('hide');
                location.reload();
            } else {
                const errorContainer = document.getElementById('form-errors');
                errorContainer.innerHTML = '';
                for (const [field, messages] of Object.entries(data.errors)) {
                    messages.forEach(message => {
                        const errorElement = document.createElement('div');
                        errorElement.className = 'alert alert-danger';
                        errorElement.innerText = `${field}: ${message}`;
                        errorContainer.appendChild(errorElement);
                    });
                }
            }
        })
        .catch(error => console.error('Error:', error));
    });
});
</script>
<script>
        $(document).ready(function() {
            $('#searchInput').on('keyup', function() {
                var searchText = $(this).val().toLowerCase();
                $(this).closest('.bg-secondary').find('.search-table tbody tr').filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
                });
            });
        });
</script>
<script>
    function formatAmount(input) {
        // Remove existing commas and non-numeric characters from the input
        let value = input.value.replace(/[^\d]/g, '');

        // Add commas to the value
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Update the input value
        input.value = value;
    }
</script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation')
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    })()
</script>
<script>
function formatAmount(input) {
    // Remove existing commas and non-numeric characters from the input
    let value = input.value.replace(/[^\d]/g, '');

    // Add commas to the value
    value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

    // Update the input value
    input.value = value;
}
</script>
{% endblock %}

{% block footer %}
{% endblock %}




