{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
   Record Payment for {{ client.name }}
{% endblock %}


{% block content %}
<div class="row g-6">
  <!-- Vehicles overview -->
  <div class="col-xxl-6">
    <div class="card h-100">
      <div class="card-header d-flex align-items-center justify-content-between">
        <div class="card-title mb-0">
             <h6 class="m-0 me-2">Select Land to Record Payment</h6>
        </div>
      </div>
      <div class="card-body">
          {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
          {% endif %}
          <form method="POST" action="{% url 'realestates:record_payment' client.id %}">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="client_land">Select Land</label>
                <select name="client_land" id="client_land" class="form-control" onchange="this.form.submit()">
                    <option value="">-- Select Land --</option>
                    {% for client_land in client_lands %}
                        <option value="{{ client_land.id }}" {% if selected_client_land and client_land.id == selected_client_land.id %}selected{% endif %}>
                            {{ client_land.land.plot_number }} - {{ client_land.land.location }} - {{ client_land.land.price|add_commas }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                {{ form.amount_paid.label_tag }}
                {{ form.amount_paid }}
            </div>
            <div class="form-group mb-3">
                {{ form.timestamp.label_tag }}
                {{ form.timestamp }}
            </div>
            <div class="form-group mb-3">
                {{ form.approved.label_tag }}
                {{ form.approved }}
            </div>
            <div class="form-group mb-3">
                {{ form.approved_by.label_tag }}
                {{ form.approved_by }}
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
      </div>
    </div>
  </div>
  <!--/ Vehicles overview -->

  <!-- Shipment statistics-->
  <div class="col-xxl-6 col-lg-7">
    <div class="card h-100">
      <div class="card-header d-flex align-items-center justify-content-between">
            <div class="card-title mb-0">
                <h6 class="m-0 me-2">Transaction History for <span class="text-primary">{{ client.name }}</span></h6>
            <h6 class="mb-3">Client Brought By: <span class="text-success">{{ client.employee }}</span></h6>
            </div>
        </div>
        <div class="card-body">
            {% if selected_client_land %}
                <h6 class="mb-2">Selected Land: {{ selected_client_land.land.plot_number }} - {{ selected_client_land.land.location }}</h6>
                <p>Land Price: <span class="text-primary">{{ selected_client_land.land.price|add_commas }}</span></p>
                <p>Balance: <span class="text-danger">{{ balance|add_commas }}</span></p>
            {% endif %}
           <div class="table-responsive" style="max-height: 350px; overflow-y: auto;" id="employeeTableContainer">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-primary">
                            <th scope="col">Date</th>
                            <th scope="col">Paid</th>
                            <th scope="col">Approved</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.timestamp|date:"Y-m-d" }}</td>
                                <td>{{ transaction.amount_paid|add_commas }}</td>
                                <td>{{ transaction.approved }}</td>
                                <td>
                                    <a href="{% url 'realestates:edit_payment' transaction.id %}">
                                        <i class="fas fa-edit" style="padding:1px;font-size:12px"></i>
                                    </a>
                                    <span style="padding:2px"></span>
                                </td>
                                <td>
                                    <div class="d-inline-block">
                                        <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow me-1" data-bs-toggle="dropdown">
                                            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end m-0">
                                            <a class="dropdown-item text-info">Click Delete Record IF You Are Sure</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item text-danger delete-record" data-id="{{ transaction.id }}">
                                                <button type="button" class="btn btn-light btn-sm text-danger">Delete Record</button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="text-success">
                            <td>Total Paid</td>
                            <td>{{ total_amount_paid|add_commas }}</td>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
           </div>
        </div>
    </div>
  </div>
  <!--/ Shipment statistics -->
</div>
{% endblock %}

{% block add_js %}
<script>
    function formatAmount(input) {
        // Remove existing commas and non-numeric characters from the input
        let value = input.value.replace(/[^\d]/g, '');

        // Add commas to the value
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Update the input value
        input.value = value;
    }
</script>
<script>
    $(document).on('click', '.delete-record', function(e) {
        e.preventDefault();
        const transactionId = $(this).data('id');
        const url = "{% url 'realestates:delete_payment_record' 0 %}".replace(0, transactionId);

        $.ajax({
            url: url,
            type: 'DELETE',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },  // Pass the CSRF token
            success: function(response) {
                if (response.status === 'success') {
                    alert('Record deleted successfully.');
                    // Refresh the page to reflect the changes
                    location.reload();
                }
            },
            error: function() {
                alert('An error occurred while deleting the record.');
            }
        });
    });
</script>

{% endblock %}