{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
   Record Payment for {{ client.name }}
{% endblock %}

{% block SubNavbar %}
 <div class="nav-item dropdown">
     <a href="{% url 'realestates:admin_dashboard' request.user.id %}" class="nav-item nav-link"><i class="fas fa-home"></i>Home</a>
 </div>
{% endblock SubNavbar %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <h6 class="mb-4">Select Land to Record Payment</h6>
                <form method="POST" action="{% url 'realestates:record_payment' client.id %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="client_land">Select Land</label>
                        <select name="client_land" id="client_land" class="form-control" onchange="this.form.submit()">
                            <option value="">-- Select Land --</option>
                            {% for client_land in client_lands %}
                                <option value="{{ client_land.id }}" {% if selected_client_land and client_land.id == selected_client_land.id %}selected{% endif %}>
                                    {{ client_land.land.plot_number }} - {{ client_land.land.location }} - {{ client_land.land.price|add_commas }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        {{ form.amount_paid.label_tag }}
                        {{ form.amount_paid }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.timestamp.label_tag }}
                        {{ form.timestamp }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.approved.label_tag }}
                        {{ form.approved }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.employee.label_tag }}
                        {{ form.employee }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-1">Transaction History for <span class="text-info">{{ client.name }}</span> </h6>
                <h6 class="mb-4">Client Brought By: <span class="text-success" >{{client.employee}} </span></h6>
                {% if selected_client_land %}
                    <h6 class="mb-2">Selected Land: {{ selected_client_land.land.plot_number }} - {{ selected_client_land.land.location }}</h6>
                    <p>Land Price: <span class="text-primary">{{ selected_client_land.land.price|add_commas }}</span></p>
                    <p>Balance: <span class="text-danger">{{ balance|add_commas }}</span></p>
                {% endif %}
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-info">
                            <th scope="col">Date</th>
                            <th scope="col">Paid</th>
                            <th scope="col">Approved</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody class="text-white">
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.timestamp|date:"Y-m-d" }}</td>
                                <td>{{ transaction.amount_paid|add_commas }}</td>
                                <td>{{ transaction.approved }}</td>
                                <td>
                                    <a href="{% url 'realestates:edit_payment' transaction.id %}">
                                      <i class="fas fa-edit" style="padding:1px;font-size:12px"></i>
                                    </a>
                                    <span style="padding:2px"></span>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="text-success">
                            <td>Total Paid</td>
                            <td>{{ total_amount_paid|add_commas }}</td>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block add_js %}
<script>
    function formatAmount(input) {
        // Remove existing commas and non-numeric characters from the input
        let value = input.value.replace(/[^\d]/g, '');

        // Add commas to the value
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Update the input value
        input.value = value;
    }
</script>
{% endblock %}