{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
   Admin
{% endblock %}

 {% block add_css %}
       <!--<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>-->
         <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
         <script src="{% static 'js/bootstrap.min.js' %}"></script>
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
         <style>
            table {
                        width: 100%;
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 8px;
                        border: 1px solid black;
                    }

                    /* Truncate long text and display ellipsis */
                    .truncate {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    /* Responsive styles */
                    @media screen and (max-width: 600px) {
                        th, td {
                            padding: 4px;
                        }

                        .truncate {
                                max-width: 90px; /* Adjust max-width as needed */
                            }
                    }
        </style>
{% endblock %}

{% block content %}
<!-- Monthly Sales  Start -->
 <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-success"></i>
                <div class="ms-3">
                    <p class="mb-2">Monthly Sale</p>
                    <h6 class="mb-0">Shs:{{total_amount_month}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-info"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sale</p>
                    <h6 class="mb-0">Shs:{{total_sales_previous_months_sum}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-users text-warning" aria-hidden="true" style='font-size:50px;'></i>
                <div class="ms-3">
                    <p class="mb-2">Distributors</p>
                    <h6 class="mb-0">{{total_number_employees}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user-friends" aria-hidden="true" style='font-size:50px;color:blue'></i>
                <div class="ms-3">
                    <p class="mb-2">Clients</p>
                    <h6 class="mb-0">{{total_num_clients_}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Monthly Sales Start End -->

<!-- All Monthly Sales Start -->
 <div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">All Monthly Sale</h6>
        </div>
        <div id="table_content" class="table-responsive" style="max-height: 500px; overflow-y: auto;">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-info">
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody style="cursor:pointer" class="text-white">
                    {% for data in monthly_data %}
                    <tr onclick="showSubTable(this)">
                        <td>{{ data.date }}</td>
                        <td>{{ data.amount }}</td>
                    </tr>
                    <!-- Hidden sub-table -->
                    <tr class="sub-table-row" style="display:none;">
                        <td colspan="2">
                            <div style= "max-height: 200px; overflow-y: auto;">
                            <table id="customers" style="max-height: 200px; overflow-y: auto;">
                                  <tr>
                                     <th>{{data.date}}</th>
                                     <th>AmountPaid</th>
                                     <th>ClientName</th>
                                     <th>PhoneNumber1</th>
                                     <th>PhoneNumber2</th>
                                     <th>Location</th>
                                     <th>BroughtBy:</th>
                                     <th>ApprovedBy:</th>
                                  </tr>
                                  {% for md in  data.month_detail  %}
                                  <tr>
                                    <td>{{ md.timestamp }}</td>
                                    <td>{{md.amount_paid|add_commas}}</td>
                                    <td>{{ md.client }}</td>
                                    <td>{{ md.client.phoneNumber1 }}</td>
                                    <td>{{ md.client.phoneNumber2 }}</td>
                                    <td>{{ md.client.location }}</td>
                                    <td>{{ md.client.employee }}</td>
                                    <td>{{ md.approved_by }}</td>
                                  </tr>
                                 {% endfor %}
                            </table>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Monthly Sales  End -->

<!-- Graph of Approved/pending Detail  -->
 <div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded h-100 p-4">
                 <label for="thresholdInput">Threshold:</label>
                 <input type="number" id="thresholdInput1" value="{{DEfault_thresholdInput1}}" size="5" style="text-align:center">
                 <button id="updateThresholdButton1" style="background-color:red">Update Threshold</button>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Approved clients</h6>
                </div>
                <canvas id="clientsChart" width="400" height="200"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded h-100 p-4">
                   <label for="thresholdInput">Threshold:</label>
                   <input type="number" id="thresholdInput" value="{{DEfault_thresholdInput}}" size="5" style="text-align:center">
                   <button id="updateThresholdButton" style="background-color:red">Update Threshold</button>
                   <div class="d-flex align-items-center justify-content-between mb-4">
                     <h6 class="mb-0">Clients Brought</h6>
                   </div>
                <canvas id="employeeChart" width="400" height="200"></canvas>
            </div>
        </div>

    </div>
</div>


<!-- client table data -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <h6 class="mb-3">Performance</h6>
        <div class="d-flex align-items-center justify-content-between mb-4">
        </div>
        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
            <table id="scroll-table">
                <thead>
                    <tr class="text-info">
                        <th scope="col">Name</th>
                        <th scope="col">Clients</th>
                        <th scope="col"><i class="fas fa-check-circle" style='font-size:25px'></i></th>
                        <th scope="col"><i class='fas fa-question-circle' style='font-size:25px'></i></th>
                        <th scope="col">Rate</th>
                    </tr>
                </thead>
                <tbody class="text-white" id="employeeTableBody">

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- client table data End  -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}

 <!-- Footer Start -->
{% block footer %}
 <div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="https://academycity.org/en/e/" target="_blank">@AcDantez</a>, All Right Reserved.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a href="https://academycity.org/en/e/" target="_blank">@AcDantez</a>
                <br>Distributed By: <a href="https://academycity.org/en/e/" target="_blank">@AcDantez</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- Footer End -->

{% block add_js %}
    <script type="text/javascript">

      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      $(document).ready(function () {

        employees_client = function(e)
             {
                 url = "{% url 'realestates:employees_client' %}"
                 $.post(url,
                        { },
                 function(data){

                     //alert(JSON.stringify(data))

                     var xValue = [];
                     var yValue = [];
                     approved_clients = [];
                     appending_clients = [];
                     for(employee_name in data)
                     {
                         //alert(JSON.stringify(data[employee_name]["approved_clients"]))
                         approved_clients.push(data[employee_name]["approved_clients"])
                         appending_clients.push(data[employee_name]["appending_clients"])
                         //alert(JSON.stringify(data[employee_name]["clients"]))
                         xValue.push(employee_name);
                         yValue.push(data[employee_name]["clients"].length);
                     }

                        // Total number clients brought by each Employee Graph //

                        var ctx4 = $("#bar-chart").get(0).getContext("2d");
                        var myChart4 = new Chart(ctx4, {
                            type: "bar",
                            data: {
                                labels: xValue,
                                datasets: [{
                                    backgroundColor: [
                                        "rgba(15, 10, 222, .7)",
                                        "rgba(15, 10, 222, .7)",
                                        "rgba(15, 10, 222, .7)",
                                        "rgba(15, 10, 222, .7)",
                                        "rgba(15, 10, 222, .7)"
                                    ],
                                    data: yValue
                                }]
                            },
                            options: {
                                responsive: true
                            }
                        });

                        // Approved/pending Graph //

                        var ctx1 = $("#approved").get(0).getContext("2d");
                        var myChart1 = new Chart(ctx1, {
                            type: "bar",
                            data: {
                                labels: xValue,
                                datasets: [{
                                        label: "Approved",
                                        data: approved_clients,
                                        backgroundColor: "RGB(0, 195, 0)"
                                    },
                                    {
                                        label: "Appending",
                                        data: appending_clients,
                                        backgroundColor: "rgb(255, 234, 0)"
                                    }
                                ]
                                },
                            options: {
                                responsive: true
                            }
                        });


                 })
             }
        employees_client()
      });
    </script>
    <script>
        function showSubTable(row) {
            // Extract the date value from the clicked row
            var date = row.children[0].innerHTML;

            // Toggle the visibility of the next row (which contains the sub-table)
            var nextRow = row.nextElementSibling;
            if (nextRow.classList.contains('sub-table-row')) {
                nextRow.style.display = (nextRow.style.display === 'none') ? 'table-row' : 'none';
            }
        }

        // Attach event listeners to table rows
        //$('tbody tr').click(function(event) {
            // Prevent the default behavior of the click event
         //   event.preventDefault();
        //});


    </script>
    <script>
        $(document).ready(function() {
            $('#searchInput').on('keyup', function() {
                var searchText = $(this).val().toLowerCase();
                $(this).closest('.bg-secondary').find('.search-table tbody tr').filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
                });
            });
        });
    </script>
   <!--  amount comas    -->
   <script>
        function formatAmount(input) {
            // Remove existing commas and non-numeric characters from the input
            let value = input.value.replace(/[^\d]/g, '');

            // Add commas to the value
            value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

            // Update the input value
            input.value = value;
        }
</script>

   <!-- horizontal bar graph for both approved and pending clients -->
    <script>
        fetch("{% url 'realestates:employees_client' %}")
              .then(response => response.json())
              .then(data => {
                // Extract employee data and format it for the chart
                const employeeData = Object.entries(data).map(([employee, employeeData]) => ({
                  employee: employee,
                  approvedClients: employeeData.approved_clients,
                  appendingClients: employeeData.appending_clients
                }));

                // Extract employee names and client data
                const employeeNames = employeeData.map(entry => entry.employee);
                const approvedClients = employeeData.map(entry => entry.approvedClients);
                const appendingClients = employeeData.map(entry => entry.appendingClients);

                // Create a new Chart instance
                const ctx = document.getElementById('clientChart2').getContext('2d');
                const myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels: employeeNames,
                    datasets: [{
                      label: 'Approved Clients',
                      backgroundColor: 'blue',
                      data: approvedClients
                    }, {
                      label: 'Appending Clients',
                      backgroundColor: 'green',
                      data: appendingClients
                    }]
                  },
                  options: {
                    indexAxis: 'y',
                    plugins: {
                      legend: {
                        position: 'right'
                      }
                    }
                  }
                });
              });

    </script>
   <!-- end  -->

   <!-- clients brought graph -->
   <script>
    let myChart; // Declare myChart variable outside fetch function

    // Function to update the chart based on the threshold
    const updateChart = (threshold) => {

        // Fetch data from the server
        fetch("{% url 'realestates:employees_client' %}")
            .then(response => response.json())
            .then(data => {
                // Extract employee names and client counts from the fetched data
                const employeeNames = Object.keys(data);
                const clientCounts = employeeNames.map(employee => data[employee].clients.length);

                // Filter employees based on the threshold
                const selectedEmployees = employeeNames.filter((employee, index) => clientCounts[index] > threshold);
                const selectedClientCounts = clientCounts.filter((count, index) => count > threshold);

                // Update the chart data
                myChart.data.labels = selectedEmployees;
                myChart.data.datasets[0].data = selectedClientCounts;

                // Update the chart
                myChart.update();
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    };

    // Fetch data from the server
    fetch("{% url 'realestates:employees_client' %}")
        .then(response => response.json())
        .then(data => {
            // Extract employee names and client counts from the fetched data
            const employeeNames = Object.keys(data);
            const clientCounts = employeeNames.map(employee => data[employee].clients.length);

            // Default threshold value
            const defaultThreshold =parseInt(document.getElementById('thresholdInput').value);

            // Create a line chart
            const ctx = document.getElementById('employeeChart').getContext('2d');
            myChart = new Chart(ctx, { // Assign myChart inside fetch function
                type: 'line',
                data: {
                    labels: employeeNames,
                    datasets: [{
                        label: 'Total Clients Brought',
                        data: clientCounts,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Total Clients Brought'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Distributor'
                            }
                        }
                    }
                }
            });

            // Update the chart with the default threshold value immediately
            updateChart(defaultThreshold);

            // Event listener for the threshold input field
            document.getElementById('thresholdInput').addEventListener('change', function() {
                const threshold = parseInt(this.value); // Get the new threshold value
                updateChart(threshold); // Update the chart with the new threshold value
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    </script>

   <!-- Approval rate table -->
    <script>
    // Fetch data from the server
    fetch("{% url 'realestates:employees_client' %}")
        .then(response => response.json())
        .then(data => {
            // Extract and sort employee data by the number of clients brought in
            const sortedEmployees = Object.entries(data).sort((a, b) => {
                return b[1].clients.length - a[1].clients.length; // Sort in descending order
            });

            // Populate table body with employee information
            const tableBody = document.getElementById('employeeTableBody');
            sortedEmployees.forEach(([employee, performanceData]) => {
                const totalClientsBrought = performanceData.clients.length;
                const approvedClients = performanceData.approved_clients;
                const pendingClients = performanceData.appending_clients;
                const approvalRate = approvedClients > 0 ? ((approvedClients / totalClientsBrought) * 100).toFixed(0) + '%' : '0%';

                const row = document.createElement('tr');
                row.innerHTML = `
                    <td class="truncate">${employee}</td>
                    <td>${totalClientsBrought}</td>
                    <td>${approvedClients}</td>
                    <td>${pendingClients}</td>
                    <td>${approvalRate}</td>
                `;
                tableBody.appendChild(row);
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    </script>

   <!-- Approved client bar graph -->
   <script>
       // Define the employees_client function
        const employees_client = function() {
            // Function to update the chart based on the minimum approved clients threshold
            const updateChart = function(minApprovedClients) {
                const url = "{% url 'realestates:employees_client' %}";

                $.post(url, {}, function(data) {
                    // Filter departments based on the minimum approved clients threshold
                    const filteredData = Object.entries(data).filter(([department, info]) => info.approved_clients > minApprovedClients);

                    // Extract filtered department names and approved clients count
                    const departments = filteredData.map(([department, info]) => department);
                    const approvedClients = filteredData.map(([department, info]) => info.approved_clients);

                    // Get canvas element
                    const canvas = document.getElementById('clientsChart').getContext('2d');

                    // If chart already exists, destroy it to prevent duplicate charts
                    if (window.myChart) {
                        window.myChart.destroy();
                    }
                    // Create new Chart.js bar chart
                    window.myChart = new Chart(canvas, {
                        type: 'bar',
                        data: {
                            labels: departments,
                            datasets: [{
                                label: 'Approved Clients',
                                data: approvedClients,
                                backgroundColor: 'rgba(54, 162, 235, 0.5)', // Blue color for bars
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                });
            };
            const defaultThreshold = parseInt(document.getElementById('thresholdInput1').value);
            // Call updateChart with initial threshold value
            updateChart(defaultThreshold); // Default threshold value (e.g., 10)

            // Event listener for update threshold button
            document.getElementById('updateThresholdButton1').addEventListener('click', function() {
                const thresholdValue = parseInt(document.getElementById('thresholdInput1').value);
                updateChart(thresholdValue);
            });
        };

        // Call the employees_client function to initialize the chart
        employees_client();

   </script>
{% endblock %}



