{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
   Admin
{% endblock %}

 {% block add_css %}
       <!--<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>-->
         <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
         <script src="{% static 'js/bootstrap.min.js' %}"></script>
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
         <style>
            table {
                        width: 100%;
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 8px;
                        border: 1px solid black;
                    }

                    /* Truncate long text and display ellipsis */
                    .truncate {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    /* Responsive styles */
                    @media screen and (max-width: 600px) {
                        th, td {
                            padding: 4px;
                        }

                        .truncate {
                                max-width: 90px; /* Adjust max-width as needed */
                            }
                    }
        </style>
{% endblock %}

{% block content %}
<!-- Monthly Sales  Start -->
 <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-success"></i>
                <div class="ms-3">
                    <p class="mb-2">Monthly Sale</p>
                    <h6 class="mb-0">Shs:{{total_amount_month}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-info"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sale</p>
                    <h6 class="mb-0">Shs:{{total_sales_previous_months_sum}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-users text-warning" aria-hidden="true" style='font-size:50px;'></i>
                <div class="ms-3">
                    <p class="mb-2">Distributors</p>
                    <h6 class="mb-0">{{total_number_employees}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user-friends" aria-hidden="true" style='font-size:50px;color:blue'></i>
                <div class="ms-3">
                    <p class="mb-2">Clients</p>
                    <h6 class="mb-0">{{total_num_clients_}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Monthly Sales Start End -->

<!-- All Monthly Sales Start -->
 <div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">All Monthly Sale</h6>
        </div>
        <div id="table_content" class="table-responsive" style="max-height: 500px; overflow-y: auto;">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-info">
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody style="cursor:pointer" class="text-white">
                    {% for data in monthly_data %}
                    <tr onclick="showSubTable(this)">
                        <td>{{ data.date }}</td>
                        <td>{{ data.amount }}</td>
                    </tr>
                    <!-- Hidden sub-table -->
                    <tr class="sub-table-row" style="display:none;">
                        <td colspan="2">
                            <div style= "max-height: 200px; overflow-y: auto;">
                            <table id="customers" style="max-height: 200px; overflow-y: auto;">
                                  <tr>
                                     <th>{{data.date}}</th>
                                     <th>AmountPaid</th>
                                     <th>ClientName</th>
                                     <th>PhoneNumber1</th>
                                     <th>PhoneNumber2</th>
                                     <th>Location</th>
                                     <th>BroughtBy:</th>
                                     <th>ApprovedBy:</th>
                                  </tr>
                                  {% for md in  data.month_detail  %}
                                  <tr>
                                    <td>{{ md.timestamp }}</td>
                                    <td>{{md.amount_paid|add_commas}}</td>
                                    <td>{{ md.client }}</td>
                                    <td>{{ md.client.phoneNumber1 }}</td>
                                    <td>{{ md.client.phoneNumber2 }}</td>
                                    <td>{{ md.client.location }}</td>
                                    <td>{{ md.client.employee }}</td>
                                    <td>{{ md.approved_by }}</td>
                                  </tr>
                                 {% endfor %}
                            </table>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Monthly Sales  End -->

<!-- Graph of Approved/pending Detail  -->
 <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <label for="thresholdInput">Threshold:</label>
                <input type="number" id="thresholdInput1" value="{{DEfault_thresholdInput1}}" size="5" style="text-align:center">
                <button id="updateThresholdButton1" style="background-color:red">Update Threshold</button>

                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Approval Rate Analysis</h6>
                </div>
                <canvas id="lineChart" width="400" height="200"></canvas>
            </div>
        </div>

         <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded h-100 p-4">
                   <label for="thresholdInput">Threshold:</label>
                   <input type="number" id="thresholdInput" value="{{DEfault_thresholdInput}}" size="5" style="text-align:center">
                   <button id="updateThresholdButton" style="background-color:red">Update Threshold</button>
                   <div class="d-flex align-items-center justify-content-between mb-4">
                     <h6 class="mb-0">Clients Brought</h6>
                   </div>
                <canvas id="employeeChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Graph of Approved/pending Detail End -->

<!-- client table data -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <h6 class="mb-3">Performance</h6>
        <div class="d-flex align-items-center justify-content-between mb-4">
        </div>
        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
            <table id="scroll-table">
                <thead>
                    <tr class="text-info">
                        <th scope="col">Name</th>
                        <th scope="col">Clients</th>
                        <th scope="col"><i class="fas fa-check-circle" style='font-size:25px'></i></th>
                        <th scope="col"><i class='fas fa-question-circle' style='font-size:25px'></i></th>
                        <th scope="col">Rate</th>
                    </tr>
                </thead>
                <tbody class="text-white" id="employeeTableBody">

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- client table data End  -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}

 <!-- Footer Start -->
{% block footer %}
 <div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="https://academycity.org/en/e/" target="_blank">@AcDantez</a>, All Right Reserved.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a href="https://academycity.org/en/e/" target="_blank">@AcDantez</a>
                <br>Distributed By: <a href="https://academycity.org/en/e/" target="_blank">@AcDantez</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- Footer End -->




