{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
   Client List
{% endblock %}

{% block SubNavbar %}
 <div class="nav-item dropdown">
     <a href="{% url 'realestates:admin_dashboard' admin_id %}" class="nav-item nav-link"><i class="fas fa-home"></i>Home</a>
 </div>
{% endblock SubNavbar %}

{% block content %}
    <!-- client table data -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <h6 class="mb-3">Client Table</h6>
            <div class="d-flex align-items-center justify-content-between mb-4 shadow">
                <!-- Search Bar -->
                <form method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control " placeholder="Search client...." name="q">
                        <button class="btn btn-outline-info" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                <table class="table text-start align-middle table-bordered table-hover mb-0 search-table">
                    <thead>
                        <tr class="text-info">
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Payment</th>
                        </tr>
                    </thead>
                     <tbody class="text-white">
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.date }}</td>
                                <td>{{ client.name }}</td>
                                <td>{{ client.phoneNumber1 }}</td>
                                <td>
                                    <a href="{% url 'realestates:record_payment' client.id %}" class="btn btn-sm btn-primary">Record Payment</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>



                </table>
            </div>


            <!-- Pagination Links -->
            <div class="pagination">
                <span class="step-links">
                    {% if clients.has_previous %}
                        <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a>
                        <a href="?page={{ clients.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ clients.number }} of {{ clients.paginator.num_pages }}.
                    </span>

                    {% if clients.has_next %}
                        <a href="?page={{ clients.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                        <a href="?page={{ clients.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>


        </div>
   </div>
    <!-- client table data End  -->


{% endblock %}

{% block add_js %}
<script>
        $(document).ready(function() {
            $('#searchInput').on('keyup', function() {
                var searchText = $(this).val().toLowerCase();
                $(this).closest('.bg-secondary').find('.search-table tbody tr').filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
                });
            });
        });
</script>
{% endblock %}

{% block footer %}
{% endblock %}