{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-2.29.1.min.js'></script>

</head>
<body>
    <div class="container bg-dark" style="color:white">
        <div class="dashboard-container">
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="shadow p-2 wb-5 bg-body rounded" >
                        <h6 style="color:red">{{message}}</h6>
                        <h3 style="margin-bottom:15px">Confirming the payment for <span class="text-success">{{client}}</span></h3>
                            <form action="{% url 'realestates:confirm_payment' payment_client_id %}" method="post">
                                {% csrf_token %}
                                <label>Enter Amount paid</label>
                                <input type="text" id="amountInput" oninput="formatAmount(this)" name="amount_paid" placeholder="Enter amount" required>
                                 <button type="submit">Approve Payment</button>
                                <input type="button" value="Cancel" class="btn-danger btn-badge" onclick="window.history.go(-1);"/>
                            </form>
                    </div>
                </div>
               <div class="col-md-12">
                    <div class="shadow p-4 wb-5 bg-body rounded" >
                        <h3 style="margin-bottom:15px">Client Detail</span></h3>
                            <table class="table table-striped table-dark">
                                  <tbody>
                                    <tr>
                                      <th scope="col">Name</th>
                                      <td>{{client}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="col">Contact1</th>
                                      <td>{{ client.phoneNumber1 }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="col">Contact2</th>
                                      <td>{{ client.phoneNumber2 }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="col">Location</th>
                                      <td>{{ client.location }}</td>
                                    </tr>
                                  </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function formatAmount(input) {
        // Remove existing commas and non-numeric characters from the input
        let value = input.value.replace(/[^\d]/g, '');

        // Add commas to the value
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Update the input value
        input.value = value;
    }
    </script>
</body>
</html>
