{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
   Edit Payment
{% endblock %}

{% block SubNavbar %}
 <div class="nav-item dropdown">
     <a href="{% url 'realestates:admin_dashboard' request.user.id %}" class="nav-item nav-link"><i class="fas fa-home"></i>Home</a>
 </div>
{% endblock SubNavbar %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded p-4">
                <h6>Edit Payment for {{ payment.client_land.client.name }}</h6>
                <form method="post" action="{% url 'realestates:edit_employee_payment' payment.id %}" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="amountPaid" class="form-label">Amount to Pay:</label>
                        <input type="text" oninput="formatAmount(this)" class="form-control" id="amountPaid" name="amount_paid" value="{{payment.amount_paid|add_commas }}" required>
                        <div class="invalid-feedback">Please enter the amount to pay.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Pay</button>
                    <input type="button" class="btn btn-warning" value="Cancel" onclick="window.history.go(-1)">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block add_js %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation')
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    })()
</script>
<script>
    function formatAmount(input) {
        // Remove existing commas and non-numeric characters from the input
        let value = input.value.replace(/[^\d]/g, '');

        // Add commas to the value
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Update the input value
        input.value = value;
    }
</script>
{% endblock %}

{% block footer %}
{% endblock %}