{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load extra_filters %}

        {% block title %}
          Distributor
        {% endblock %}


        <!-- Sidebar Start -->
        {% block Sidebar %}
         <nav class="navbar bg-secondary navbar-dark">

                <div class="navbar-brand mx-4 mb-3">
                    <img class="rounded-circle" src="{{ company_logo_url }}" alt="" style="width: 70px; height: 70px; margin-left:45px">
                    <h5 class="text-info" style="margin-top:5px;text-align:center">Century Properties  <br>& <br> Real Estates Ltd</h5>
                </div>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{{ profile_pic_url }}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{ employee.user.username }}</h6>
                        <span>Distributor</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="#" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                </div>

            </nav>
        {% endblock %}
        <!-- Sidebar End -->

        <!-- Navbar Start -->
        {% block Navbar %}
         <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="#" class="navbar-brand d-flex d-lg-none me-4">
                 <img class="rounded-circle" src="{{ company_logo_url }}" alt="" style="width: 70px; height: 70px; margin-left:45px">
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control bg-dark border-0" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="{{ profile_pic_url }}" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">{{employee.user.username}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a class="dropdown-item" href="{% url 'realestates:edit_user_profile_new' %}"><i class="fas fa-user-edit text-warning"></i> Edit Profile</a>
                        <!-- <a href="#" class="dropdown-item">Settings</a> -->
                        <a href="{% url 'realestates:change_password' %}" class="dropdown-item"><i class="fas fa-user-cog text-success"></i> Change Password</a>
                        <form method="post" action="{% url 'realestates:logout' %}">
                            {% csrf_token %}
                            <button class="dropdown-item" ><i class="fas fa-sign-in-alt text-primary"></i> Log out</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        {% endblock %}
        <!-- Navbar End -->

        {% block content %}
        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-success"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Commission</p>
                            <h6 class="mb-0">Shs:{{ total_commission|add_commas }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-info" aria-hidden="true" style='font-size:50px;'></i>
                        <div class="ms-3">
                            <p class="mb-2">Paid</p>
                            <h6 class="mb-0">{{ total_paid|add_commas }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area text-danger" aria-hidden="true" style='font-size:50px;'></i>
                        <div class="ms-3">
                            <p class="mb-2">Balance</p>
                            <h6 class="mb-0">{{ balance|add_commas }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-users " aria-hidden="true" style='font-size:50px;color:blue'></i>
                        <div class="ms-3">
                            <p class="mb-2">Clients Brought</p>
                            <h6 class="mb-0">{{total_number_of_clients}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->

        <!-- Sales Chart Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-3">
                    <div class="bg-secondary text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6>Approved/pending Clients</h6>
                        </div>
                        <canvas  id="transaction-history" class="transaction-chart" ></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-9">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Messages</h6>
                        <div class="d-flex align-items-center border-bottom py-3">
                            <img class="rounded-circle flex-shrink-0" src="{{ company_logo_url }}" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Admin</h6>
                                    <small>15 minutes ago</small>
                                </div>
                                <span>Short message goes here...</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center border-bottom py-3">
                            <img class="rounded-circle flex-shrink-0" src="{{ company_logo_url }}" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Admin</h6>
                                    <small>15 minutes ago</small>
                                </div>
                                <span>Short message goes here...</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center border-bottom py-3">
                            <img class="rounded-circle flex-shrink-0" src="{{ company_logo_url }}" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Admin</h6>
                                    <small>15 minutes ago</small>
                                </div>
                                <span>Short message goes here...</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-3">
                            <img class="rounded-circle flex-shrink-0" src="{{ company_logo_url }}" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Admin</h6>
                                    <small>15 minutes ago</small>
                                </div>
                                <span>Short message goes here...</span>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!-- Sales Chart End -->

        <!-- Clients Brought Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-3">
                    <div class="bg-secondary rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                             <h5 class="mb-0">Add new client</h5>
                        </div>
                        <div id="form-errors"></div>
                        <form id="add-client-form" method="post" action="{% url 'realestates:add_client' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn-success btn-badge" type="submit">Add Client</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-9">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div class="d-flex align-items-center justify-content-between mb-0">
                            <h5 class="mb-0">Pending Clients</h5>
                            <button style="width:150px;" type="button" class="account-image-reset btn btn-warning btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#password_change_modal">
                              Claim Clients
                            </button>
                        </div>
                        <!-- Search bar -->
                <input type="text" id="searchInput" class="form-control mb-2" placeholder="Search by phone number...">
                <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-success">
                                <th scope="col">Client</th>
                                <th scope="col">Contact</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody id="clientTableBody" class="text-white card-link popupbtn1">
                            {% for client in clients %}
                            <tr>
                                <td>{{ client.name }}</td>
                                <td>{{ client.phoneNumber1 }}</td>
                                <td>
                                    <a href="{% url 'realestates:edit_client' client.id %}">
                                        <button type="button" class="btn btn-sm btn-warning">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Clients Brought End -->

         <!-- Approved clients -->
         <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="mb-0">Approved Clients</h5>
                </div>
                <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-success">
                                <!--<th scope="col">DateClientBrought</th>-->
                                <th scope="col">Client</th>
                                <th scope="col">Contact</th>
                                <!--<th scope="col">PhoneNum2</th>-->
                                <!--<th scope="col">ClientLocation</th>-->
                                <!--<th scope="col">Amount</th>-->
                                <!--<th scope="col">Paid</th>-->
                                <th scope="col">Commission</th>
                            </tr>
                        </thead>
                        <tbody class="text-white card-link popupbtn1">
                            {% for c in commission_earned_per_client %}
                                        <tr>
                                            <!--<td>{{ client.date }}</td>-->
                                            <td>{{ c.client.name }}</td>
                                            <td>{{ c.client.phoneNumber1 }}</td>
                                            <!--<td>{{ client.phoneNumber2 }}</td>-->
                                            <!--<td>{{ client.location }}</td>-->
                                            <!--<td>{{ payment.amount_paid|add_commas }}</td>-->
                                            <!--<td>{{ payment.amount_paid|add_commas }}</td>-->
                                            <td>{{ c.total_commission|add_commas }}</td>

                                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
         <!-- End -->

        <!-- Claim Client Modal -->
        <div class="modal fade pg-show-modal" id="password_change_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="authentication-inner">
                            <!-- Register Card -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="app-brand justify-content-center">
                                        <a href="#" class="app-brand-link gap-2"> <span class="app-brand-logo demo"> </span> </a>
                                    </div>
                                    <form id="formAuthentication" method="post">
                                        {% csrf_token %}
                                        <div class="form-group mb-3">
                                            <label for="phone_number">Enter Client Phone Number:</label>
                                            <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Claim Client</button>
                                    </form>
                                    <div id="responseMessage" class="mt-4"></div>
                                </div>
                            </div>
                            <!-- Register Card -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        <!-- Footer Start -->
        {% block footer %}
         <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">@AcDantez</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="#">@AcDantez</a>
                        <br>Distributed By: <a href="#">@AcDantez</a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- Footer End -->


        {% block add_js %}
            <script type="text/javascript">

              var csrftoken = Cookies.get('csrftoken');
              function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }
              $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
                }
              });

              $(document).ready(function () {

                employees_client = function(e)
                     {
                         url = "{% url 'realestates:employees_client' %}"
                         $.post(url,
                                { },
                         function(data){

                             //alert(JSON.stringify(data))

                             var xValue = [];
                             var yValue = [];
                             approved_clients = [];
                             appending_clients = [];
                             for(employee_name in data)
                             {
                                 //alert(JSON.stringify(data[employee_name]["approved_clients"]))
                                 approved_clients.push(data[employee_name]["approved_clients"])
                                 appending_clients.push(data[employee_name]["appending_clients"])
                                 //alert(JSON.stringify(data[employee_name]["clients"]))
                                 xValue.push(employee_name);
                                 yValue.push(data[employee_name]["clients"].length);
                             }

                                // Total number clients brought by each Employee Graph //

                                var ctx4 = $("#bar-chart").get(0).getContext("2d");
                                var myChart4 = new Chart(ctx4, {
                                    type: "bar",
                                    data: {
                                        labels: xValue,
                                        datasets: [{
                                            backgroundColor: [
                                                "rgba(15, 10, 222, .7)",
                                                "rgba(15, 10, 222, .7)",
                                                "rgba(15, 10, 222, .7)",
                                                "rgba(15, 10, 222, .7)",
                                                "rgba(15, 10, 222, .7)"
                                            ],
                                            data: yValue
                                        }]
                                    },
                                    options: {
                                        responsive: true
                                    }
                                });

                                // Approved/Pending Graph //

                                var ctx1 = $("#worldwide-sales").get(0).getContext("2d");
                                var myChart1 = new Chart(ctx1, {
                                    type: "bar",
                                    data: {
                                        labels: xValue,
                                        datasets: [{
                                                label: "Approved",
                                                data: approved_clients,
                                                backgroundColor: "RGB(0, 195, 0)"
                                            },
                                            {
                                                label: "Pending",
                                                data: appending_clients,
                                                backgroundColor: "rgb(255, 234, 0)"
                                            }
                                        ]
                                        },
                                    options: {
                                        responsive: true
                                    }
                                });


                         })
                     }
                employees_client()
              });
            </script>
            <script>
                const totalApprovedClients = {{ total_approved_clients }};
                const totalAppendingClients = {{total_appending_clients}}
                const total_number_of_clients = {{total_number_of_clients}}

                if ($("#transaction-history").length) {
                  var areaData = {
                    labels: ["Approved","Pending"],
                    datasets: [{
                        data: [totalApprovedClients, totalAppendingClients],
                        backgroundColor: [
                          "#00d25b","#ffab00"
                        ]
                      }
                    ]
                  };
                  var areaOptions = {
                    responsive: true,
                    maintainAspectRatio: true,
                    segmentShowStroke: false,
                    cutoutPercentage: 70,
                    elements: {
                      arc: {
                          borderWidth: 0
                      }
                    },
                    legend: {
                      display: false
                    },
                    tooltips: {
                      enabled: true
                    }
                  }
                  var transactionhistoryChartPlugins = {
                    beforeDraw: function(chart) {
                      var width = chart.chart.width,
                          height = chart.chart.height,
                          ctx = chart.chart.ctx;

                      ctx.restore();
                      var fontSize = 1;
                      ctx.font = fontSize + "rem sans-serif";
                      ctx.textAlign = 'left';
                      ctx.textBaseline = "middle";
                      ctx.fillStyle = "#ffffff";

                      var text = total_number_of_clients + " Clients",
                          textX = Math.round((width - ctx.measureText(text).width) / 2),
                          textY = height / 2.4;

                      ctx.fillText(text, textX, textY);

                      ctx.restore();
                      var fontSize = 0.75;
                      ctx.font = fontSize + "rem sans-serif";
                      ctx.textAlign = 'left';
                      ctx.textBaseline = "middle";
                      ctx.fillStyle = "#6c7293";

                      var texts = "Total",
                          textsX = Math.round((width - ctx.measureText(text).width) / 1.93),
                          textsY = height / 1.7;

                      ctx.fillText(texts, textsX, textsY);
                      ctx.save();
                    }
                  }
                  var transactionhistoryChartCanvas = $("#transaction-history").get(0).getContext("2d");
                  var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
                    type: 'doughnut',
                    data: areaData,
                    options: areaOptions,
                    plugins: transactionhistoryChartPlugins
                  });
                }
                if ($("#transaction-history-arabic").length) {
                  var areaData = {
                    labels: ["Paypal", "Stripe","Cash"],
                    datasets: [{
                        data: [55, 25, 20],
                        backgroundColor: [
                          "#111111","#00d25b","#ffab00"
                        ]
                      }
                    ]
                  };
                  var areaOptions = {
                    responsive: true,
                    maintainAspectRatio: true,
                    segmentShowStroke: false,
                    cutoutPercentage: 70,
                    elements: {
                      arc: {
                          borderWidth: 0
                      }
                    },
                    legend: {
                      display: false
                    },
                    tooltips: {
                      enabled: true
                    }
                  }
                  var transactionhistoryChartPlugins = {
                    beforeDraw: function(chart) {
                      var width = chart.chart.width,
                          height = chart.chart.height,
                          ctx = chart.chart.ctx;

                      ctx.restore();
                      var fontSize = 1;
                      ctx.font = fontSize + "rem sans-serif";
                      ctx.textAlign = 'left';
                      ctx.textBaseline = "middle";
                      ctx.fillStyle = "#ffffff";

                      var text = "$1200",
                          textX = Math.round((width - ctx.measureText(text).width) / 2),
                          textY = height / 2.4;

                      ctx.fillText(text, textX, textY);

                      ctx.restore();
                      var fontSize = 0.75;
                      ctx.font = fontSize + "rem sans-serif";
                      ctx.textAlign = 'left';
                      ctx.textBaseline = "middle";
                      ctx.fillStyle = "#6c7293";

                      var texts = "مجموع",
                          textsX = Math.round((width - ctx.measureText(text).width) / 1.93),
                          textsY = height / 1.7;

                      ctx.fillText(texts, textsX, textsY);
                      ctx.save();
                    }
                  }
                  var transactionhistoryChartCanvas = $("#transaction-history-arabic").get(0).getContext("2d");
                  var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
                    type: 'doughnut',
                    data: areaData,
                    options: areaOptions,
                    plugins: transactionhistoryChartPlugins
                  });
                }

            </script>
           <!-- claim free clients -->
            <script>
                $(document).ready(function() {
                $('#formAuthentication').on('submit', function(event) {
                    event.preventDefault(); // Prevent the form from submitting the traditional way

                    var phoneNumber = $('#phone_number').val();
                    var csrfToken = $('[name=csrfmiddlewaretoken]').val();

                    $.ajax({
                        type: 'POST',
                        url: '{% url "realestates:claim_free_client" %}',
                        data: {
                            'phone_number': phoneNumber,
                            'csrfmiddlewaretoken': csrfToken
                        },
                        success: function(response) {
                            var messageElement = $('#responseMessage');
                            if (response.success) {
                                messageElement.html('<p class="text-success">' + response.message + '</p>');
                            } else {
                                messageElement.html('<p class="text-danger">' + response.message + '</p>');
                            }
                        }
                    });
                });
                });
            </script>
           <!-- Add new clients -->
            <script>
                $(document).ready(function(){
                $('#add-client-form').on('submit', function(event){
                    event.preventDefault();
                    $.ajax({
                        url: $(this).attr('action'),
                        type: $(this).attr('method'),
                        data: $(this).serialize(),
                        success: function(response){
                            if(response.success){
                                location.reload();  // Reload the page to update the client list
                            } else {
                                $('#form-errors').html('<div class="alert alert-danger">' + response.error + '</div>');
                            }
                        },
                        error: function(xhr, status, error){
                            $('#form-errors').html('<div class="alert alert-danger">An error occurred. Please try again.</div>');
                        }
                    });
                });
                });
            </script>
           <!-- Search clients -->
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const searchInput = document.getElementById('searchInput');
                    const tableBody = document.getElementById('clientTableBody');
                    const tableRows = tableBody.getElementsByTagName('tr');

                    searchInput.addEventListener('keyup', function() {
                        const searchTerm = searchInput.value.toLowerCase();

                        for (let row of tableRows) {
                            const phoneNumberCell = row.getElementsByTagName('td')[1];
                            const phoneNumber = phoneNumberCell.textContent || phoneNumberCell.innerText;

                            if (phoneNumber.toLowerCase().includes(searchTerm)) {
                                row.style.display = "";
                            } else {
                                row.style.display = "none";
                            }
                        }
                    });
                });
            </script>

        {% endblock %}



