{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
   installment List
{% endblock %}

{% block SubNavbar %}
 <div class="nav-item dropdown">
     <a href="{% url 'realestates:admin_dashboard' admin_id %}" class="nav-item nav-link"><i class="fas fa-home"></i>Home</a>
 </div>
{% endblock SubNavbar %}

{% block content %}
    <!-- client table data -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <h6 class="mb-3">Installment Table</h6>
            <div class="d-flex align-items-center justify-content-between mb-4 shadow">
                <!-- Search Bar -->
                <input class="border-0" size="25" type="number" id="searchInput" placeholder="client phone number...">
            </div>
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table text-start align-middle table-bordered table-hover mb-0 search-table">
                      <thead>
                        <tr class="text-info">
                            <th scope="col">Contact</th>
                            <th scope="col">Plot.No</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Payment</th>
                        </tr>
                      </thead>
                      <tbody class="text-white">
                        {% for payment in clients_with_pending_payments %}
                               <tr>
                                   <td>{{ payment.client.phoneNumber1 }}</td>
                                   <td>{{ payment.client.plot_number }}</td>
                                    <td>{{ payment.remaining_amount|add_commas }}</td>
                                     <td>
                                        <form action="{% url 'realestates:approve_payment' payment.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-sm btn-primary" type="submit">Approve</button>
                                        </form>
                                     </td>
                               </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
   </div>
    <!-- client table data End  -->
{% endblock %}



{% block add_js %}
    <script>
    function formatAmount(input) {
        // Remove existing commas and non-numeric characters from the input
        let value = input.value.replace(/[^\d]/g, '');

        // Add commas to the value
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Update the input value
        input.value = value;
    }
    </script>
    <script>
    $(document).ready(function() {
        $('#searchInput').on('keyup', function() {
            var searchText = $(this).val().toLowerCase();
            $(this).closest('.shadow').find('.search-table tbody tr').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        });
    });
    </script>
{% endblock %}


{% block footer %}
{% endblock %}