{% extends "base_admin_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block SubNavbar %}
 <div class="nav-item dropdown">
     <a href="{% url 'realestates:admin_dashboard' admin_id %}" class="nav-item nav-link"><i class="fas fa-home"></i>Home</a>
 </div>
{% endblock SubNavbar %}

 {% block content %}
    <!-- Recent Sales Start -->
   <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <h6 class="mb-3">Distributor Table</h6>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <!-- Search Bar -->
                <input  class="border-0" size="25"  type="text" id="searchInput" placeholder="distributor name...">
            </div>
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table text-start align-middle table-bordered table-hover mb-0 search-table">
                    <thead>
                        <tr class="text-info">
                            <th scope="col">Name</th>
                            <!--<th scope="col"><i class="fas fa-hand-holding-usd"></i></th>-->
                            <!--<th scope="col">Paid</th>-->
                            <!--<th scope="col">Balance</th>-->
                            <th scope="col">Payment</th>
                        </tr>
                    </thead>
                    <tbody class="text-white">
                        {% for e in all_employee_payment_record %}
                        <tr>
                            <td>{{e.employee}}</td>
                            <!--<td>{{e.total_commission|add_commas }}</td>-->
                            <!--<td>{{e.amount_paid|add_commas }}</td>-->
                            <!--<td>{{e.balance|add_commas }}</td>-->
                            <td>
                                {% if not e.approved %}
                                <form action="{% url 'realestates:approve_employee_payment' e.id%}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-primary" type="submit">Approve Payment</button>
                                </form>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
   </div>
    <!-- Recent Sales End -->
 {% endblock %}


  {% block add_js %}
     <script>
        $(document).ready(function() {
            $('#searchInput').on('keyup', function() {
                var searchText = $(this).val().toLowerCase();
                $(this).closest('.bg-secondary').find('.search-table tbody tr').filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
                });
            });
        });
    </script>
  {% endblock %}

{% block footer %}
{% endblock %}
