{% extends "base_employee_dashboard.html" %}
{% load static %}
{% load custom_filters %}
{% load extra_filters %}

{% block title %}
 Client Entry
{% endblock %}

{% block add_css %}
{% endblock %}

{% block content %}
  <div class="row g-6">
      <!-- Vehicles overview -->
      <div class="col-xxl-6">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div class="card-title mb-0">
              <h5 class="m-0 me-2">Add new client</h5>
            </div>
          </div>
          <div class="card-body">
              <div id="form-success"></div>
              <div id="form-errors"></div>
              <form id="add-client-form" method="post" action="{% url 'realestates:add_client' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button style="width:120px;" type="submit" class="btn btn-warning btn-sm mb-3">
                    Add Client
                </button>
              </form>
          </div>
        </div>
      </div>
      <!--/ Vehicles overview -->

      <!-- Shipment statistics-->
      <div class="col-xxl-6 col-lg-7">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center justify-content-between">
                <div class="card-title mb-0">
                  <h5 class="m-0 me-2">Pending Clients</h5>
                </div>
                <button style="width:150px;" type="button" class="account-image-reset btn btn-warning btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#password_change_modal">
                    Claim Clients
                </button>
            </div>
            <div class="card-body">
                <input type="text" id="searchInput" class="form-control mb-2" placeholder="Search by phone number...">
                <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">Client</th>
                                <th scope="col">Contact</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody id="clientTableBody" class="text-dark">
                            {% for client in clients %}
                            <tr>
                                <td>{{ client.name }}</td>
                                <td>{{ client.phoneNumber1 }}</td>
                                <td>
                                    <a href="{% url 'realestates:edit_client' client.id %}">
                                        <button type="button" class="btn btn-sm btn-warning">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
      <!--/ Shipment statistics -->

      <!-- Claim Client Modal -->
       <div class="modal fade pg-show-modal" id="password_change_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="authentication-inner">
                            <!-- Register Card -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="app-brand justify-content-center">
                                        <a href="#" class="app-brand-link gap-2"> <span class="app-brand-logo demo"> </span> </a>
                                    </div>
                                    <form id="formAuthentication" method="post">
                                        {% csrf_token %}
                                        <div class="form-group mb-3">
                                            <label for="phone_number">Enter Client Phone Number:</label>
                                            <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                                        </div>
                                        <button type="submit" class="btn btn-warning">Claim Client</button>
                                    </form>
                                    <div id="responseMessage" class="alert alert-light mt-4"></div>
                                </div>
                            </div>
                            <!-- Register Card -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
       </div>
  </div>
{% endblock %}


{% block add_js %}
 <!-- claim free clients -->
<script>
    $(document).ready(function() {
    $('#formAuthentication').on('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting the traditional way

        var phoneNumber = $('#phone_number').val();
        var csrfToken = $('[name=csrfmiddlewaretoken]').val();

        $.ajax({
            type: 'POST',
            url: '{% url "realestates:claim_free_client" %}',
            data: {
                'phone_number': phoneNumber,
                'csrfmiddlewaretoken': csrfToken
            },
            success: function(response) {
                var messageElement = $('#responseMessage');
                if (response.success) {
                    messageElement.html('<p class="text-success">' + response.message + '</p>');
                } else {
                    messageElement.html('<p class="text-danger">' + response.message + '</p>');
                }
            }
        });
    });
    });
</script>
<!-- Add new clients -->
<script>
    $(document).ready(function(){
        $('#add-client-form').on('submit', function(event){
            event.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(response){
                    if(response.success){
                        $('#form-success').html('<div class="alert alert-success">' + response.message + '</div>');
                        setTimeout(function(){
                            location.reload();  // Reload the page to update the client list
                        }, 2000); // Reload the page after 2 seconds
                    } else {
                        $('#form-errors').html('<div class="alert alert-danger">' + response.error + '</div>');
                    }
                },
                error: function(xhr, status, error){
                    $('#form-errors').html('<div class="alert alert-danger">An error occurred. Please try again.</div>');
                }
            });
        });
    });
</script>
<!-- Search clients -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById('searchInput');
        const tableBody = document.getElementById('clientTableBody');
        const tableRows = tableBody.getElementsByTagName('tr');

        searchInput.addEventListener('keyup', function() {
            const searchTerm = searchInput.value.toLowerCase();

            for (let row of tableRows) {
                const phoneNumberCell = row.getElementsByTagName('td')[1];
                const phoneNumber = phoneNumberCell.textContent || phoneNumberCell.innerText;

                if (phoneNumber.toLowerCase().includes(searchTerm)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        });
    });
</script>
{% endblock %}

