{% extends "base_employee_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
 Payment
{% endblock %}

{% block content %}
<div class="overflow-auto row">
    <div class="col-lg-4 col-md-4 order-0">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card pay-card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between flex-sm-row flex-column gap-3" style="position: relative;">
                            <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color: #e0f7fc;"></i>
                                            <i class="fa fa-inbox fa-inverse fa-stack-1x text-info"></i>
                                        </span>
                                    </div>
                                </div>
                                <span>Payment for</span>
                                <h3 id="total_paid_card" class="card-title text-nowrap mb-1">{{ employee.user.get_full_name }}</h3>
                            </div>
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 397px; height: 66px;"></div></div><div class="contract-trigger"></div></div></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card pay-card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color: #e0f7fc;"></i><i class="fa fa-calculator fa-inverse fa-stack-1x text-info"></i></span>
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M10 10h4v4h-4zm0-6h4v4h-4zm0 12h4v4h-4z"/>
                                    </svg>
                                </button>
                                <!--
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                <a class="dropdown-item" href="#">Edit</a>
                                </div>-->
                            </div>
                        </div><span>Total Commission</span>
                        <h3 id="total_fees_card" class="text-nowrap mb-1">{{ total_commission_from_all_client|add_commas }}</h3><small class="text-success fw-semibold"><i  style="font-size:15px" class="fa fa-money me-2" aria-hidden="true"></i>Actual amount</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card pay-card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color: #e0f7fc;"></i><i class="fa fa-inbox fa-inverse fa-stack-1x text-info"></i></span>
                            </div>
                        </div><span>Total Paid</span>
                        <h3 id="total_paid_card" class="card-title text-nowrap mb-1">{{ total_amount_paid_of_all_clients|add_commas }}</h3><small class="text-success fw-semibold"><i style="font-size:20px" class="fas fa-hand-holding-usd me-2"></i>paid</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card pay-card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x" style="color: #e0f7fc;"></i><i class="fa fa-inbox fa-inverse fa-stack-1x text-info"></i></span>
                            </div>
                        </div>
                        <span>Balance</span>
                        <h3 id="fees_balance_card" class="card-title text-nowrap mb-1">{{ total_balance|add_commas }}</h3><small class="text-success fw-semibold"><i class="fa fa-arrow-circle-o-down"></i>Unpaid</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 mb-4 order-1">
        <div class="card mb-4 pay-card">
            <div class="d-flex align-items-end row">
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Payment Breakdown</h5>
                        <div class="pay-card table-responsive" style="max-height: 300px; overflow-y: auto;">
                            <table class="table text-start align-middle table-bordered table-hover mb-0">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">Client</th>
                                        <th scope="col">Remaining Commission</th>
                                        <th scope="col">Paid</th>
                                        <th scope="col">Balance</th>
                                    </tr>
                                </thead>
                                <tbody class="text-dark">

                                {% for data in client_data %}
                                <tr>
                                    <td>{{ data.client_land.client.name }}</td>
                                    <td>{{ data.commission|add_commas }}</td>
                                    <td>{{ data.amount_paid|add_commas }}</td>
                                    <td>{{ data.balance|add_commas }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 text-center text-sm-left">
                    <div id="donutchart" class="pg-empty-placeholder w-100"></div>
                    <div class="pe-3 ps-3">
                        <div class="mb-2 pb-1 pt-1">
                            <h6 class="mb-1 text-start" style="font-size: 0.8rem;">
                                <span>Paid</span>
                                <span class="float-end" id="paid"></span>
                            </h6>
                            <div class="progress" style="font-size: 0.7rem; height: 8px;">
                                <div id="paid_progress_bar" class="bg-info progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mb-2 mt-2 pb-1 pt-1">
                            <h6 class="mb-1 text-start" style="font-size: 0.8rem;">
                                <span>Balance</span>
                                <span class="float-end fw-bold text-danger" id="balance"></span>
                            </h6>
                            <div class="progress" style="font-size: 0.7rem; height: 8px;">
                                <div id="balance_progress_bar" class="bg-danger progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card pay-card">
            <div class="d-flex align-items-end row">
                <div class="col-sm-7 col-xl-12">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Payment History</h5>
                        <div class="pay-card table-responsive" style="max-height: 300px; overflow-y: auto;">
                            <table class="table text-start align-middle table-bordered table-hover mb-0">
                                <thead>
                                <tr class="text-dark">
                                    <th scope="col">Client</th>
                                    <th scope="col">Paid</th>
                                    <th scope="col">Payment Date</th>
                                </tr>
                                </thead>
                                <tbody class="text-dark">
                                {% for record in payment_history %}
                                <tr>
                                    <td>{{ record.client.name }}</td>
                                    <td>{{ record.amount_paid|add_commas }}</td>
                                    <td>{{ record.payment_date }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block add_js %}
<script>
    function formatAmount(input) {
        // Remove existing commas and non-numeric characters from the input
        let value = input.value.replace(/[^\d]/g, '');

        // Add commas to the value
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Update the input value
        input.value = value;
    }
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    //////// Pie Chart Function ////////////
    function payments_pie_chart(paid, balance, total_fees) {
        const pay_percentage = ((paid / total_fees) * 100);
        const balance_percentage = ((balance / total_fees) * 100);

        $("#paid_progress_bar").width(pay_percentage + '%');
        $("#balance_progress_bar").width(balance_percentage + '%');

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Item', 'Amount'],
                ['Paid', paid],
                ['Balance', balance]
            ]);

            var options = {
                pieHole: 0.3,
                width: '100%',
                backgroundColor: '#FFFFFF' // Change this to the desired background color
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    }
    payments_pie_chart( {{total_amount_paid_of_all_clients }}, {{ total_balance }}, {{ total_commission_from_all_client}} );  // Adjust these values as needed
</script>
{% endblock %}





