{% extends "base_employee_dashboard.html" %}
{% load static %}
{% load custom_filters %}
{% load extra_filters %}

{% block title %}
  Distributor
{% endblock %}


{% block content %}
  <div class="row g-6">
          <!-- Card Border Shadow -->
          <div class="col-lg-3 col-sm-6">
            <div class="card card-border-shadow-success h-100">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <div class="avatar me-4">
                    <span class="avatar-initial rounded bg-label-success"><i class="fa fa-chart-line fa-3x text-success"></i></span>
                  </div>
                  <h4 class="mb-0">{{ total_commission|add_commas }}</h4>
                </div>
                <p class="mb-2">Total Commission</p>
                <p class="mb-0">
                  <!--
                  <span class="text-heading fw-medium me-2">+18.2%</span>
                  <span class="text-muted">than last week</span>
                  -->
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card card-border-shadow-info h-100">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <div class="avatar me-4">
                    <span class="avatar-initial rounded bg-label-info"><i class="fa fa-chart-bar fa-3x text-info" aria-hidden="true"></i></span>
                  </div>
                  <h4 class="mb-0">{{ total_paid|add_commas }}</h4>
                </div>
                <p class="mb-2">Total Amount Paid</p>
                <p class="mb-0">
                  <!--
                  <span class="text-heading fw-medium me-2">-8.7%</span>
                  <span class="text-muted">than last week</span>
                  -->
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card card-border-shadow-danger h-100">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <div class="avatar me-4">
                    <span class="avatar-initial rounded bg-label-danger"><i class="fa fa-chart-area text-danger" aria-hidden="true" style='font-size:40px;'></i></span>
                  </div>
                  <h4 class="mb-0">{{ balance|add_commas }}</h4>
                </div>
                <p class="mb-2">Total Balance</p>
                <p class="mb-0">
                  <!--
                  <span class="text-heading fw-medium me-2">+4.3%</span>
                  <span class="text-muted">than last week</span>
                  -->
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card card-border-shadow-primary h-100">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <div class="avatar me-4">
                    <span class="avatar-initial rounded bg-label-info"><i class="fa fa-users " aria-hidden="true" style='font-size:40px;color:blue'></i></span>
                  </div>
                  <h4 class="mb-0">{{total_number_of_clients}}</h4>
                </div>
                <p class="mb-2">All Clients</p>
                <p class="mb-0">
                  <!--
                  <span class="text-heading fw-medium me-2">-2.5%</span>
                  <span class="text-muted">than last week</span>
                  -->
                </p>
              </div>
            </div>
          </div>
          <!--/ Card Border Shadow -->

          <!-- Vehicles overview -->
          <div class="col-xxl-4">
            <div class="card h-80">
              <div class="card-header d-flex align-items-center justify-content-between">
                <div class="card-title mb-0">
                  <h5 class="m-0 me-2">Approved/pending Clients</h5>
                </div>
              </div>
              <div class="card-body">
                  <canvas  id="transaction-history" class="transaction-chart" ></canvas>
              </div>
            </div>
          </div>
          <!--/ Vehicles overview -->

          <!-- Shipment statistics-->
          <div class="col-xxl-8 col-lg-5">
            <div class="card h-100">
              <div class="card-header d-flex justify-content-between">
                <div class="card-title mb-0">
                  <h5 class="mb-1 me-2">LeadBoard(Top 5)</h5>
                  <!--<p class="card-subtitle">12% increase in this month</p>-->
                </div>
              </div>
              <div class="card-body">
                {% for top_employee in top_employees %}
                <ul class="p-0 m-0">
                  <li class="d-flex mb-6 align-items-center">
                    <div class="avatar flex-shrink-0 me-4">
                      <img class="rounded-circle flex-shrink-0" src="{{ top_employee.profile_pic.url }}" alt="" style="width: 50px; height: 50px;">
                    </div>
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                      <div class="me-2">
                        <h6 class="mb-1 fw-normal">{{ top_employee }}</h6>
                        <p class="text-success mb-0">
                          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                              <path fill="currentColor" d="m6.293 13.293l1.414 1.414L12 10.414l4.293 4.293l1.414-1.414L12 7.586z"/>
                          </svg>
                          {{ top_employee.clients_count }} clients
                        </p>
                      </div>
                      <div class="user-progress">
                        <!--<h6 class="mb-0">10k</h6>-->
                      </div>
                    </div>
                  </li>
                </ul>
                {% endfor %}
              </div>
            </div>
          </div>
          <!--/ Shipment statistics -->

  </div>
{% endblock %}

{% block add_js %}
    <script type="text/javascript">
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      $(document).ready(function () {

        employees_client = function(e)
             {
                 url = "{% url 'realestates:employees_client' %}"
                 $.post(url,
                        { },
                 function(data){

                     //alert(JSON.stringify(data))

                     var xValue = [];
                     var yValue = [];
                     approved_clients = [];
                     appending_clients = [];
                     for(employee_name in data)
                     {
                         //alert(JSON.stringify(data[employee_name]["approved_clients"]))
                         approved_clients.push(data[employee_name]["approved_clients"])
                         appending_clients.push(data[employee_name]["appending_clients"])
                         //alert(JSON.stringify(data[employee_name]["clients"]))
                         xValue.push(employee_name);
                         yValue.push(data[employee_name]["clients"].length);
                     }

                        // Total number clients brought by each Employee Graph //

                        var ctx4 = $("#bar-chart").get(0).getContext("2d");
                        var myChart4 = new Chart(ctx4, {
                            type: "bar",
                            data: {
                                labels: xValue,
                                datasets: [{
                                    backgroundColor: [
                                        "rgba(15, 10, 222, .7)",
                                        "rgba(15, 10, 222, .7)",
                                        "rgba(15, 10, 222, .7)",
                                        "rgba(15, 10, 222, .7)",
                                        "rgba(15, 10, 222, .7)"
                                    ],
                                    data: yValue
                                }]
                            },
                            options: {
                                responsive: true
                            }
                        });

                        // Approved/Pending Graph //

                        var ctx1 = $("#worldwide-sales").get(0).getContext("2d");
                        var myChart1 = new Chart(ctx1, {
                            type: "bar",
                            data: {
                                labels: xValue,
                                datasets: [{
                                        label: "Approved",
                                        data: approved_clients,
                                        backgroundColor: "RGB(0, 195, 0)"
                                    },
                                    {
                                        label: "Pending",
                                        data: appending_clients,
                                        backgroundColor: "rgb(255, 234, 0)"
                                    }
                                ]
                                },
                            options: {
                                responsive: true
                            }
                        });


                 })
             }
        employees_client()
      });
    </script>
    <script>
        const totalApprovedClients = {{ total_approved_clients }};
        const totalAppendingClients = {{total_appending_clients}}
        const total_number_of_clients = {{total_number_of_clients}}

        if ($("#transaction-history").length) {
          var areaData = {
            labels: ["Approved","Pending"],
            datasets: [{
                data: [totalApprovedClients, totalAppendingClients],
                backgroundColor: [
                  "#00d25b","#ffab00"
                ]
              }
            ]
          };
          var areaOptions = {
            responsive: true,
            maintainAspectRatio: true,
            segmentShowStroke: false,
            cutoutPercentage: 70,
            elements: {
              arc: {
                  borderWidth: 0
              }
            },
            legend: {
              display: false
            },
            tooltips: {
              enabled: true
            }
          }
          var transactionhistoryChartPlugins = {
            beforeDraw: function(chart) {
              var width = chart.chart.width,
                  height = chart.chart.height,
                  ctx = chart.chart.ctx;

              ctx.restore();
              var fontSize = 1;
              ctx.font = fontSize + "rem sans-serif";
              ctx.textAlign = 'left';
              ctx.textBaseline = "middle";
              ctx.fillStyle = "#ffffff";

              var text = total_number_of_clients + " Clients",
                  textX = Math.round((width - ctx.measureText(text).width) / 2),
                  textY = height / 2.4;

              ctx.fillText(text, textX, textY);

              ctx.restore();
              var fontSize = 0.75;
              ctx.font = fontSize + "rem sans-serif";
              ctx.textAlign = 'left';
              ctx.textBaseline = "middle";
              ctx.fillStyle = "#6c7293";

              var texts = "Total",
                  textsX = Math.round((width - ctx.measureText(text).width) / 1.93),
                  textsY = height / 1.7;

              ctx.fillText(texts, textsX, textsY);
              ctx.save();
            }
          }
          var transactionhistoryChartCanvas = $("#transaction-history").get(0).getContext("2d");
          var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
            type: 'doughnut',
            data: areaData,
            options: areaOptions,
            plugins: transactionhistoryChartPlugins
          });
        }
        if ($("#transaction-history-arabic").length) {
          var areaData = {
            labels: ["Paypal", "Stripe","Cash"],
            datasets: [{
                data: [55, 25, 20],
                backgroundColor: [
                  "#111111","#00d25b","#ffab00"
                ]
              }
            ]
          };
          var areaOptions = {
            responsive: true,
            maintainAspectRatio: true,
            segmentShowStroke: false,
            cutoutPercentage: 70,
            elements: {
              arc: {
                  borderWidth: 0
              }
            },
            legend: {
              display: false
            },
            tooltips: {
              enabled: true
            }
          }
          var transactionhistoryChartPlugins = {
            beforeDraw: function(chart) {
              var width = chart.chart.width,
                  height = chart.chart.height,
                  ctx = chart.chart.ctx;

              ctx.restore();
              var fontSize = 1;
              ctx.font = fontSize + "rem sans-serif";
              ctx.textAlign = 'left';
              ctx.textBaseline = "middle";
              ctx.fillStyle = "#ffffff";

              var text = "$1200",
                  textX = Math.round((width - ctx.measureText(text).width) / 2),
                  textY = height / 2.4;

              ctx.fillText(text, textX, textY);

              ctx.restore();
              var fontSize = 0.75;
              ctx.font = fontSize + "rem sans-serif";
              ctx.textAlign = 'left';
              ctx.textBaseline = "middle";
              ctx.fillStyle = "#6c7293";

              var texts = "مجموع",
                  textsX = Math.round((width - ctx.measureText(text).width) / 1.93),
                  textsY = height / 1.7;

              ctx.fillText(texts, textsX, textsY);
              ctx.save();
            }
          }
          var transactionhistoryChartCanvas = $("#transaction-history-arabic").get(0).getContext("2d");
          var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
            type: 'doughnut',
            data: areaData,
            options: areaOptions,
            plugins: transactionhistoryChartPlugins
          });
        }

    </script>
   <!-- claim free clients -->
    <script>
        $(document).ready(function() {
        $('#formAuthentication').on('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting the traditional way

            var phoneNumber = $('#phone_number').val();
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();

            $.ajax({
                type: 'POST',
                url: '{% url "realestates:claim_free_client" %}',
                data: {
                    'phone_number': phoneNumber,
                    'csrfmiddlewaretoken': csrfToken
                },
                success: function(response) {
                    var messageElement = $('#responseMessage');
                    if (response.success) {
                        messageElement.html('<p class="text-success">' + response.message + '</p>');
                    } else {
                        messageElement.html('<p class="text-danger">' + response.message + '</p>');
                    }
                }
            });
        });
        });
    </script>
   <!-- Add new clients -->
    <script>
        $(document).ready(function(){
        $('#add-client-form').on('submit', function(event){
            event.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(response){
                    if(response.success){
                        location.reload();  // Reload the page to update the client list
                    } else {
                        $('#form-errors').html('<div class="alert alert-danger">' + response.error + '</div>');
                    }
                },
                error: function(xhr, status, error){
                    $('#form-errors').html('<div class="alert alert-danger">An error occurred. Please try again.</div>');
                }
            });
        });
        });
    </script>
   <!-- Search clients -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchInput = document.getElementById('searchInput');
            const tableBody = document.getElementById('clientTableBody');
            const tableRows = tableBody.getElementsByTagName('tr');

            searchInput.addEventListener('keyup', function() {
                const searchTerm = searchInput.value.toLowerCase();

                for (let row of tableRows) {
                    const phoneNumberCell = row.getElementsByTagName('td')[1];
                    const phoneNumber = phoneNumberCell.textContent || phoneNumberCell.innerText;

                    if (phoneNumber.toLowerCase().includes(searchTerm)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                }
            });
        });
    </script>

{% endblock %}



