{% extends "base_eternal.html" %}
{% load static %}

{% block add_css %}
{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="container container-p-y">
        <div class="overflow-auto row">
            <div class="col-lg-8 col-xl-12 mb-1 order-0">
                <div class="card mb-4">
                    <h5 class="card-header">Edit Profile</h5>
                     <div  style="display:flex;gap:10px;">
                         {% if message %}
                            <p style="color:red">{{ message }}</p>
                         {% endif %}
                     </div>
                    <hr class="my-0"/>
                    <div class="card-body">
                        <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="overflow-auto row">
                                <div class="row">
                                     <div class="col-md-6 col-xl-6 mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        {{ user_form.email }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="firstName" class="form-label">First Name</label>
                                        {{ user_form.first_name }}
                                    </div>
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="lastName" class="form-label">Last Name</label>
                                         {{ user_form.last_name }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="profile_pic" class="form-label">Profile Pic</label>
                                            {{ profile_form.profile_pic }}
                                    </div>
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="date_of_birth" class="form-label">Date Of Birth</label>
                                        {{ profile_form.date_of_birth }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="address" class="form-label">Address</label>
                                            {{ profile_form.address }}
                                    </div>
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="zip" class="form-label">Zip</label>
                                        {{ profile_form.zip }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="country" class="form-label">Country</label>
                                            {{ profile_form.country }}
                                    </div>
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="phone" class="form-label">Phone</label>
                                        {{ profile_form.phone }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="city" class="form-label">City</label>
                                            {{ profile_form.city }}
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button  type="submit" class="btn btn-danger me-2">Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
            </div>
            <!-- Total Revenue -->
            <!--/ Total Revenue -->
        </div>
    </div>
{% endblock %}


{% block add_js %}
{% endblock %}