{% extends "base_eternal.html" %}
{% load static %}

 {% block add_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
     <style>
        form i {
            margin-left: 0px;
            cursor: pointer;
        }
     </style>

{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="container container-p-y">
        <div class="overflow-auto row">
            <div class="col-lg-8 col-xl-12 mb-1 order-0">
                <div class="card mb-4">
                    <h5 class="card-header">Distributor Register</h5>
                     <div  style="display:flex;gap:10px;">
                         {% if message %}
                            <p style="color:red">{{ message }}</p>
                         {% endif %}
                     </div>
                    <hr class="my-0"/>
                    <div class="card-body">
                        <form id="formAccountSettings" method="POST">
                            {% csrf_token %}
                            <div class="overflow-auto row">
                                <div class="row">

                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="firstName" class="form-label">User Name</label>
                                        {{ form.username }}
                                    </div>

                                     <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="lastName" class="form-label">Email</label>
                                        {{ form.email }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="firstName" class="form-label">First Name</label>
                                        {{ form.first_name }}
                                    </div>
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="lastName" class="form-label">Last Name</label>
                                         {{ form.last_name }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="lastName" class="form-label">Password</label>
                                            {{ form.password1 }}
                                           <i class="bi bi-eye-slash" id="togglePassword1"></i>
                                           <label for="togglePassword1" style="color:red">Show Password</label>
                                    </div>
                                    <div class="col-md-6 col-xl-3 mb-3">
                                        <label for="lastName" class="form-label">Confirm Password</label>
                                        {{ form.password2 }}
                                       <i class="bi bi-eye-slash" id="togglePassword2"></i>
                                        <label for="togglePassword2" style="color:red">Show Password</label>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-2">
                                <button  type="submit" class="btn btn-danger me-2">Register</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
            </div>
            <!-- Total Revenue -->
            <!--/ Total Revenue -->
        </div>
    </div>
{% endblock %}


{% block add_js %}
<script>
        const togglePassword1 = document.querySelector("#togglePassword1");
        const password1 =  document.getElementById("id_password1");
        togglePassword1.addEventListener("click", function () {
            // toggle the type attribute
            const type = password1.getAttribute("type") === "password" ? "text" : "password";
            password1.setAttribute("type", type);
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        const togglePassword2 = document.querySelector("#togglePassword2");
        const password2 =  document.getElementById("id_password2");
        togglePassword2.addEventListener("click", function () {
            // toggle the type attribute
            const type = password2.getAttribute("type") === "password" ? "text" : "password";
            password2.setAttribute("type", type);
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            //e.preventDefault();
        });
</script>
{% endblock %}

